
@{
    ViewBag.Title = "Greet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Greet</h2>
<form method="post">
    <input type="text" placeholder="Please Enter Firstname" name="firstname" class="form-control" />
    <input type="text" placeholder="Please Enter Surname" name="surname" class="form-control" />
    <button class="btn btn-primary">Submit</button>
</form>
<p>
    @ViewBag.greetings
</p>

