
@{
    ViewBag.Title = "Comments";
}

<h2>Comments</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("button").click(function () {
            $.ajax({
                url: 'https://jsonplaceholder.typicode.com/comments',
                method: 'GET',
                contentType: 'application/json',
                success: function (result)
                {
                    alert('Successful');
                    console.log(result);
                    $("#test").text(result[2].email);
                    for (var i = 0; i < result.length; i++) {
                        $("#tblcomments").append(
                            "<tr><td>" + result[i].id + "</td>" +
                            "<td>" + result[i].name + "</td>" +
                            "<td>" + result[i].email + "</td>" +
                            "<td>" + result[i].body + "</td></tr>" 
                            )
                    }
                },
                error: function (err)
                {
                    alert('Request Failed');
                }
            })
            })

    })
</script>
<button class="btn btn-primary">Get Comments</button>
<h2 id="test"></h2>
<table id="tblcomments"></table>
