
@{
    ViewBag.Title = "Post";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<h2>Post</h2>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.ajax({
                url: "https://jsonplaceholder.typicode.com/posts/"+$("#idnumber").val(),
                method: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    alert('Successful');
                    console.log(result);
                    $("#postdata").append(
                        "<p> Post ID : " + result.id + "</p>" +
                        "<p> Post Title : " + result.title + "</p>" +
                        "<p> Post Content : " + result.body + "</p>") ;
                   

                },
                error: function (err) {
                    alert('Request Failed');
                }
                

            })
        })

    })
</script>
<input type="text" id="idnumber" placeholder="Enter Post ID"/>
<button class="btn btn-primary">Get Post</button>
<div id="postdata"></div>
