
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("button").click(function () {
            $.ajax({
                url: 'https://jsonplaceholder.typicode.com/users',
                method: 'GET',
                contentType: 'application/json',
                success: function (result)
                {
                    alert('Successful');
                    console.log(result);
                    
                    for (var i = 0; i < result.length; i++) {
                        $("#userdetails").append(
                            "<div>Name : " + result[i].name + 
                            "<br>Email : " + result[i].email + 
                            "<br> City : " + result[i].address.city  +
                            "<br>Company Name : " + result[i].company.name+
                            "<br> CatchPhrase : " + result[i].company.catchPhrase + "</div><br>"
                            )
                    }

                },
                error: function (err)
                {
                    alert('Request Failed');
                }
            })
            })

    })
</script>
<button class="btn btn-primary">Get Users</button>
<div id="userdetails" ></div>

