
@{
    ViewBag.Title = "AddTech";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Technology</h2>

<form method="post">
    <input type="text" placeholder="Enter new Technology" name="techno" class="form-control" required/>
    <button class="btn btn-primary" type="submit">Add</button>
</form>

<h4>Technologies</h4>
<ul>
    @foreach(var item in ViewBag.tech)
            {
                <li>@item</li>
            }
</ul>
