
@{
    ViewBag.Title = "Calculate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculate</h2>
<form method="post">
    <input type="number" placeholder="Please Enter First number" name="num1" class="form-control" />
    <input type="number" placeholder="Please Enter Second number" name="num2" class="form-control" />
    <button class="btn btn-primary">Submit</button>
</form>
<p>
    @ViewBag.result
</p>