blockquote{
    font-size: 1.4em;
    width:60%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    line-height:1.6;
    position: relative;
  }
  
  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#78C0A8;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  blockquote::after{
    content: '';
  }
  
  blockquote footer{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }
#aboutWrapper
{
    margin-top:200px;
    display:flex;
}

#aboutWrapper #aboutText
{
    margin-left:120px;
    line-height: 30px;
    width:60%;
    font-size:20px;
}

#aboutWrapper #aboutImg
{
    width:40%;
    margin-left:100px;
}

#imgRounder
{
    border-radius: 50%;
    border:solid 5px #00aeff;
    background-color: #00aeff;
    padding: 0;
    margin:0;
}



  #aboutWrapper div h2
{
    margin:40px;
    font-size:60px;
    color:rgb(93, 93, 250);
}

#audioBlock
{
    font-size: 20px;
    text-align:center;
    margin-bottom:10px;
}