#contactHeader
{
    background-image: url('../assets/images/contactbg.png');
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    height:500px;
    margin-top:100px;
}

#contactHeader h1
{
    padding-top:120px;
    margin-left:70px;
    font-size:60px;
    color:rgb(42, 116, 252);
}
#contactHeader h3
{
    margin-left:70px;
    font-size:60px;
    color:rgb(42, 116, 252);
}

#contact-wrapper
{
    margin-top:100px;
    display:flex;
    
}

#contact-wrapper h2,#contact-wrapper #contact-details h4
{
    margin-top:10px;
    font-size:30px;
    color:rgb(93, 93, 250);
}

#contact-form
{
    
    margin:20px;
    margin-left:100px;
    width:60%;
}

#contact-form form label
{
    font-size:20px;
    margin-top:20px;

}

#contact-form form
{
    margin-top:50px;
    line-height:30px;
}

#contact-wrapper form input, #contact-wrapper form select, #contact-wrapper form textarea{
    padding: 10px 14px;
    width: 300px;
    border-radius: 3px;
    border-width: 1px;
    margin-top: 10px;
    font-size:20px;
  }
#contact-details
{
    width:40%;
}

#address
{
    font-size:20px;
    line-height:30px;
    margin-top:20px;   
}

#submitBtn
{
    margin-left: 50%;
}

.contactform
{
    display:flex;
}

.formleft
{
    width:50%;
    margin-left:20px;
}
.formright
{
    width:50%;
    margin-left:20px;
}