@font-face {
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik/static/Rubik-Regular.ttf")format("truetype");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
    font-family: Rubik,Helvetica, sans-serif;
}

button
{
    background-color: rgb(56, 56, 248);
    color:white;
    border:1px solid black;
    border-radius: 5px;
    padding:10px

}

ul li
{
    display:inline;
}

header
{
    background-color: white;
    position:fixed;
    top:0;
    width:100%;
    opacity:100%;
    margin-top:0px;
    height:100px;
    padding:0px;
    /* box-shadow: 0px 2px 3px 1px blue; */
}

header div img
{
    display:inline;
    vertical-align:middle;
}

header div nav ul
{
    display:inline;
}


header .mainHeader
{
    
    width:84%;
    height:90px;
    margin-left: 8%;
    margin-right:8%;
}

footer
{
    text-align: center;
    padding:60px 0px;
    border-top: 1px solid gray;
    background-color: gray;
}

a
{
    color:rgb(3, 94, 146);
    text-decoration: none;
}

#hamburgerIcon
{
    display:none;
    color:rgb(3, 94, 146);
}
#heroBlock
{
    background-image:url("../assets/images/soti-homebg.png");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    height:620px;

}

#heroBlock .heroArea
{
    width:84%;
    margin-left: 8%;
    margin-right: 8%;
    padding-top:100px;
    padding-bottom: 100px;
    padding-right: 200px;
    padding-left:50px;
    margin:0%;
}
#heroBlock h1
{
    font-size:42px;
    font-weight: normal;
    line-height: 50px;
    color:#fff;
    width:55%;
    margin:100px 0px 50px 0px;;

}
#heroBlock #learnMorebtn
{
    background-color: transparent;
    border-width: 1px;
    border-style:solid;
    border-color:white;
    border-radius: 2px;;
    text-transform:uppercase;
}

#heroBlock #learnMorebtn:hover
{
    background-color: white;
    color:rgb(3, 94, 146);
}

#introBlock
{
    background-color: whitesmoke;
    text-align:center;
    margin-top:0px;
    padding:0px;
}
#paralellText
{
    vertical-align: top;
    text-align:left;
    font-size:20px;
}


#partnerBlock
{
    
    text-align:center;
}


#contactBlock
{
    text-align:center;
    margin: 20px;
}


#contactLink
{
    padding:15px 0px;
    margin:10px;
    color:rgb(3, 94, 146);
    font-size:30px;
    text-decoration :none;
    
}


#contactLink:visited
{
    color:rgb(3, 94, 146);
}

.headerMenu
{
    font-size:20px;
    display:inline;
    
}

.mainText
{
    padding:15px 0px;
    margin:10px;
    color:rgb(3, 94, 146);
    font-size:50px;
    text-decoration :none;

}
.secondaryBtn
{
    background-color: green;
    BORDER:none;
    border-radius:0;
    margin: 10px;
    padding:10px;
    width:200px;
    height:50px;
    cursor:pointer;
    font-weight: bold;
    font-size:15px
}

.secondaryBtn:hover
{
 background-color: rgb(115, 212, 115);
 color:white;
}

.primaryBtn
{
    background-color: rgb(3, 94, 146);
    BORDER:none;
    border-radius:0;
    margin: 10px;
    width:200px;
    padding:10px;
    height:50px;
    cursor:pointer;
    font-weight: bold;
    font-size:15px
}

.primaryBtn:hover
{
 background-color: rgb(102, 194, 243);
 color:white;
}


.paralellBlock
{
    line-height: 45px;
    display:inline-block; 
    width:42%;
    padding:10px;
    margin:10px;
    
}


.copyrightTxt
{
    margin-top: 20px;
}

/* Responsive Web Design */
@media  only screen and (max-width:500px)
{
    body
    {
        background-color: yellow;

    }
    #hamburgerIcon
    {
        display:inline;
    }
    header div nav ul
    {
        display:none;
    }
}
@media  only screen and (max-width:700px) and (min-width:500px)
{
    body
    {
        background-color: pink;
    }
}