
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Shoppingapp.cshtml";
}

<h2>Orders</h2>
<li>@Html.ActionLink("View Orders", "ViewOrders", "Orders")</li>
<li>@Html.ActionLink("Past  Orders", "PastOrders", "Orders")</li>
<li>@Html.ActionLink("Cancel Orders", "CancelOrders", "Orders")</li>
<li>@Html.ActionLink("Order Summary", "", "Orders")</li>

