
@{
    ViewBag.Title = "Delete Product";
    Layout = "~/Views/Shared/_ProductInfoLayout.cshtml";
}

<h2>Delete Product</h2>
<br />
<form method="post">
    <input type="number" placeholder="Enter Product ID" name="p_id" class="form-control" /><br />
    <button type="submit" class="btn btn-primary">Delete</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>