
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Views/Shared/_ProductInfoLayout.cshtml";
}

<h2>UpdateProduct</h2>
<br />
<form method="post">
    <input type="number" placeholder="Enter Product ID" name="p_id" class="form-control" /><br />
    <input type="text" placeholder="Enter Product Name" name="p_name" class="form-control" /><br />
    <b>Enter Category</b><br />
    <input type="radio" name="p_category" id="Home Appliance" value="Home Appliance" />
    <label for="Home Appliance">Home Appliance</label>
    <input type="radio" name="p_category" id="Stationary" value="Stationary" />
    <label for="Stationary">Stationary</label>
    <input type="radio" name="p_category" id="Utensils" value="Utensils" />
    <label for="Utensils">Utensils</label>
    <br />
    <br />
    <input type="number" placeholder="Enter Product Quantity" name="p_qty" class="form-control" /><br />
    <input type="number" placeholder="Enter Product Price" name="p_price" class="form-control" /><br />
    <input type="number" placeholder="Enter Product Discount" name="p_discount" class="form-control" />
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>

