
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<br />
<form method="post">
    <input type="text" name="username" placeholder="Enter Username" />
    <br />
    <input type="password" name="password" placeholder="Enter Password" />
    <br />
    <button type="submit">Login</button>
    <button type="reset">Reset</button>

</form>
<br />
@if(ViewBag.message!=null)
{
    <p>@ViewBag.message</p>
}
