
@{
    ViewBag.Title = "DeleteAccount";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}

<h2><b>DeleteAccount</b></h2>
<br />
<form method="post">
    <input type="number" placeholder="Enter Account Number" name="p_accno" class="form-control" />
    <br />
    <button type="submit" class="btn btn-primary">Delete</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>

