
@{
    ViewBag.Title = "SearchAccount";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}

<h2><b>Search Accounts</b></h2>
<br />
<form method="post">
    <h4><b>Search By</b></h4>
    <br />
    
    <input type="radio" name="searchby" id="Account Number" value="Account Number" />
    <label for="Account Number">Account Number</label>
    <br />
    <input type="radio" name="searchby" id="Account Type" value="Account Type" />
    <label for="Account Type">Account Type</label>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Proceed</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>
