
@{
    ViewBag.Title = "UpdateAccount";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}

<h2><b>Update Account</b></h2>
<br />
<form method="post">
    <input type="number" placeholder="Enter Account Number" name="p_accno" class="form-control" />
    <br />
    <input type="text" placeholder="Enter Account Holder's Name" name="p_accname" class="form-control" />
    <br />
    <h4><b>Select Account Type</b></h4>
    <br />
    
    <input type="radio" name="p_acctype" id="Savings" value="Savings" />
    <label for="Account Savings">Savings</label>
    <br />
    <input type="radio" name="p_acctype" id="Current" value="Current" />
    <label for="Current">Current</label>
    <br />
    <input type="radio" name="p_acctype" id="PF" value="PF" />
    <label for="PF">PF</label>
    <br />
    <br />
    <input type="number" placeholder="Enter Initial Deposit" name="p_accbalance" class="form-control" />
    <br />

    <h4><b>Select Account Status</b></h4>
    <br />
   
    <input type="radio" name="p_accisactive" id="active" value=true />
    <label for="active">Active</label>
    <br />
    <input type="radio" name="p_accisactive" id="inactive" value=false />
    <label for="inactive">Inactive</label>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>


