@{
    ViewBag.Title = "Customer Care";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    HDFC BANK <br />
    Peruva,Kottayam<br />
    <abbr title="Phone">Phone:</abbr>
    xxxxxxxxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@hdfcbank.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@hdfcbank.com</a>
</address>