
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Latest News</h2>
<h4>News ID : @ViewBag.newsId</h4>
<h4>News Headline : @ViewBag.newsHeadline</h4>
<p>News : @ViewBag.news</p>


