<div>
    <br />
    <h2><b>LOGIN</b></h2>
    <p id="errMessage" style="color:red"></p>
    
    <input type="text" id="username" placeholder="Enter Username" class="form-control" />
    <br /><input type="password" id="password" placeholder="Enter Password" class="form-control" />
    <br /><button class="btn btn-primary" id="login" onclick="login()">Login</button>
    <button class="btn btn-warning" id="reset" onclick="clearText()">Reset</button>
  
    <br />
</div>
<script type="text/javascript">
    function login()
    {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        if (username == "Varsha Elza" && password == "Password@1234") {
            document.getElementById("errMessage").innerHTML = "Logged in";
        }
        else if (username == "") {
            document.getElementById("errMessage").innerHTML = "Username cannot be blank";
        }
        else if (password == "") {
            document.getElementById("errMessage").innerHTML = "Password cannot be blank";
        }
        else {
            document.getElementById("errMessage").innerHTML = "Invalid Credentials";
        }
    
    }

    function clearText()
    {
        document.getElementById("username").value = "";
        document.getElementById("password").value = "";
        document.getElementById("errMessage").innerHTML = "";
    }


</script>