
@{
    ViewBag.Title = "Delete Product";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>Delete Product</h2>
<input type="text" placeholder="Enter Product ID" class="form-control" id="pid" />
<button type="submit"class="btn btn-primary">Delete Products Info</button>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.ajax({
                url: "http://localhost:56463/Api/ProductsInfoes/" + $("#pid").val(),
                method: 'DELETE',
                contentType: 'application/json',
                success: function (result) {
                    alert("Successful");
                    console.log(result);




                },
                error: function (err) {
                    alert("Failed");

                }
            })
        })
    })

</script>

