
@{
    ViewBag.Title = "Search Product";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<h2>Search Product</h2>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.ajax({
                url: "http://localhost:56463/Api/ProductsInfoes/"+$("#pid").val(),
                method: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    alert("Successful");
                    console.log(result);
                    
                        $("#product").append(
                            "<p><b>Product ID</b> : "  + result.pID + "</p><br>" +
                            "<p><b>Product Name </b>: " + result.pName + "</p><br>" +
                            "<p><b>Product Category</b> : " + result.pCategory + "</p><br>" +
                            "<p><b>Product Price</b> : " + result.pPrice + "</p><br>" +
                            "<p><b>Product Quantity</b> : " + result.pQty + "</p><br>" +
                            "<p><b>Product Discount</b> : " + result.pDiscount + "</p>")

                    
                },
                error: function (err) {
                    alert("Failed");

                }
            })
        })
    })

</script>
<input type="text" placeholder="Enter Product ID" class="form-control" id="pid" />
<button class="btn btn-primary">Get Products Info</button>
<br />
<br />
<p id="product"></p>
