
@{
    ViewBag.Title = "Products List";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<h2>Products List</h2>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.ajax({
                url: 'http://localhost:56463/Api/ProductsInfoes',
                method: 'GET',
                contentType: 'application/json',
                success: function (result)
                {
                    alert("Successful");
                    console.log(result);
                    for (var i = 0; i < result.length;i++)
                    {
                         $("#tblproducts").append(
                             "<tr><td>" + result[i].pID + "</td>" +
                             "<td>" + result[i].pName + "</td>" +
                             "<td>" + result[i].pCategory + "</td>" +
                             "<td>" + result[i].pPrice + "</td>" +
                             "<td>" + result[i].pQty + "</td>" +
                             "<td>" + result[i].pDiscount + "</td></tr>" )

                    }
                },
                error: function (err)
                {
                    alert("Failed");

                }
            })
        })
    })

</script>
<button class="btn btn-primary">Get Products Info</button>
<br />
<br />
<table class="table-bordered" id="tblproducts"><tr><th>Product ID</th><th>Product Name</th><th>Product Category</th><th>Product Price</th><th>Product Quantity</th><th>Product Discount</th></tr></table>

