
@{
    ViewBag.Title = "Update Product";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>Update Product</h2>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            data = {
                pID: $("#pID").val(),
                pName: $("#pName").val(),
                pCategory: $("#pCategory").val(),
                pPrice: $("#pPrice").val(),
                pQty: $("#pQty").val(),
                pDiscount: $("#pDiscount").val()
            };
            $.ajax({
                url: "http://localhost:56463/Api/ProductsInfoes/"+$("#pID").val(),
                method: 'PUT',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (result) {
                    alert("Successful");
                    console.log(result);
                },
                error: function (err) {
                    alert("Failed");

                }
            })
        })
    })

</script>



<input type="number" placeholder="Enter Product ID" class="form-control" id="pID" /><br />
<input type="text" placeholder="Enter Product name" class="form-control" id="pName" /><br />
<input type="text" placeholder="Enter Product Category" class="form-control" id="pCategory" /><br />
<input type="number" placeholder="Enter Product Price" class="form-control" id="pPrice" /><br />
<input type="number" placeholder="Enter Product Quantity" class="form-control" id="pQty" /><br>
<input type="number" placeholder="Enter Product Discount" class="form-control" id="pDiscount" />
<br />
<button class="btn btn-primary">Update Product Info</button>

<br />
<br />
