
@{
    ViewBag.Title = "Female Products";
    Layout = "~/Views/Shared/_Shoppingapp.cshtml";
}

<h2>FemaleProducts</h2>

<ol>
    @foreach (var item in ViewBag.femaleProducts)
    {
        <li><h5>@item</h5></li>
    }
</ol>

@Html.Partial("~//Views//Partial Pages//_additem.cshtml")
