
@{
    ViewBag.Title = "Kids Products";
    Layout = "~/Views/Shared/_Shoppingapp.cshtml";
}

<h2>KidsProducts</h2>
<ol>
    @foreach (var item in ViewBag.kidsProducts)
    {
        <li><h5>@item</h5></li>
    }
</ol>
<br />
@Html.Partial("~//Views//Partial Pages//_additem.cshtml");