
@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_Shoppingapp.cshtml";
}

<h2>Offers</h2>

<ol>
    @foreach (var item in ViewBag.offers)
    {
        <li><h5>@item</h5></li>
    }
</ol>
