@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Shoppingapp.cshtml";
}
<h2>@ViewBag.Title.</h2>


<address>
    Myntra Kochi<br />
    Kakkanad,Kochi<br />
    <abbr title="Phone">Phone:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@myntra.com">Support@myntra.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@myntra.com">Marketing@myntra.com</a>
</address>