@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Shoppingapp.cshtml";
}

<div >
    <h1>Myntra</h1>
    <p class="lead">Myntra is where you meet all your fashion dreams! </p>
  
</div>

