
@{
    ViewBag.Title = "AddAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add new Account</h2>
<form method="post">
    <input type="text" name="p_accNo" placeholder="Enter Account Number" class="form-control" />
    <br />

    <input type="text" name="p_accName" placeholder="Enter Account Holder's Name" class="form-control" />
    <br />

    <b>Enter Account Type</b><br />
    <input type="radio" name="p_accType" id="savings" value="Savings" />
    <label for="savings">Savings</label>
    <input type="radio" name="p_accType" id="current" value="Current" />
    <label for="current">Current</label>
    <input type="radio" name="p_accType" id="pf" value="PF" />
    <label for="PF">PF</label>
    <br />
    <br />
    <input type="number" name="p_accBalance" placeholder="Enter Initial Deposit" class="form-control" />
    <br />

    <b>Enter Account Status</b><br />
    <input type="radio" name="p_accIsaCtive" id="active" value=true />
    <label for="active">Active</label>
    <input type="radio" name="p_accIsactive" id="inactive" value=false />
    <label for="inactive">Inactive</label>
    <br />
    <br />

    <button type="submit" class="btn btn-primary">Add</button>
    <button type="reset" class="btn btn-warning">Reset</button>
    <br />
</form>

