@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SOTI Inc<br />
    Kochi<br />
    <abbr title="Phone">Phone:</abbr>
    9999999999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:varsha.gikku@soti.net">varsha.gikku@soti.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:varshaelza@gmail.com">varshaelza@gmail.com</a>
</address>