<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="connectbanking"
         providerName="System.Data.SqlClient"
         connectionString="Server=IND358;database=Banking_DB;integrated security=true"
         />
    <add name="connectproduct"
         providerName="System.Data.SqlClient"
         connectionString="Server=IND358;database=Products_DB;integrated security=true"
         />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>