<form method="post">
    <input type="text" name="newemp.EmpNo" placeholder="Enter Employee number" class="form-control" />
    <br />
    <input type="text" name="newemp.EmpName" placeholder="Enter Employee name" class="form-control" />
    <br />
    <select name="newemp.EmpDesignation">
        <option value="Sales">Sales</option>
        <option value="HR">HR</option>
        <option value="Developer">Developer</option>
    </select>
    <br />
    <br />
    <input type="text" name="newemp.EmpSalary" placeholder="Enter Employee Salary" class="form-control" />
    <br />
    <select name="newemp.EmpisPermanent">
        <option value="true">Permanent</option>
        <option value="false">Contract</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-primary">Reset</button>
</form>