<form method="post">
    <input type="text" name="p_empNo" placeholder="Enter Employee number"  class="form-control"/>
    <br />
    <button type="submit"class="btn btn-primary" >Submit</button>
</form>
