@model Model_Demo.Models.Employee
@{
    ViewBag.Title = "DeleteEmployee";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Remove Employee</h2>

@Html.Partial("~\\Views\\PartialPages\\_getemployeenumber.cshtml")
