
@{
    ViewBag.Title = "UpdateEmployeeStatus";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>UpdateEmployeeStatus</h2>
<form method="post">
    <input type="text" name="p_empno" placeholder="Enter Employee number" class="form-control" />
    <br />
    <select name="newstatus">
        <option value="true">Permanent</option>
        <option value="false">Contract</option>
    </select>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="reset" class="btn btn-primary">Reset</button>
</form>
