@model Model_Demo.Models.Employee
@{
    ViewBag.Title = "UpdateEmployee";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>UpdateEmployee</h2>
@Html.Partial("~\\Views\\PartialPages\\_getalldetails.cshtml")

